<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidfundamental">
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".roomexample.MainRoomActivity"></activity>
        <activity android:name=".network.NetworkMenuActivity"></activity>
        <activity android:name=".fragments.MenuFragmentsActivity" />
        <activity android:name=".fundamental.FundamentalActivity" />
        <activity android:name=".network.NetworkActivity" />
        <activity android:name=".retrofitexample.ui.RetrofitMainActivity"></activity>
        <activity android:name=".fragments.RssfeedActivity" />
        <activity android:name=".fragments.MainActivity" />
        <activity android:name=".databindingexample.view.DataBindingExampleActivity" />
        <activity android:name=".listviewandactivityexample.ExpandableListActivity" />
        <activity android:name=".listviewandactivityexample.UndoBarActivity" />
        <activity android:name=".listviewandactivityexample.TwoListItemsActivity" />
        <activity android:name=".listviewandactivityexample.SelectionSingleView" />
        <activity android:name=".listviewandactivityexample.ListExampleActivity" />
        <activity android:name=".viewmodelexample.TaskActivity" />
        <activity android:name=".spinner_instance_state.SpinnerActivity" />
        <activity android:name=".UserOverViewActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".TracerActivity" />
        <activity android:name=".CreateUserActivity" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>